body{
    background-image: url(/images/hatter.png);
}
#cim{
    background-color: orange;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    height: 200px;
    margin-bottom: 30px;
    
}
#cim > h1{
    font-size: 60px;
}
#navbar
{
background-color: white;
margin: auto;
list-style: none;
margin-bottom: 30px;

}
nav > li{
    margin: auto;
    
    
}
li > a{
    color: orange;
    
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#grat{
    background-color: orange;


}
#grszv{
    display: inline-block;

}
#fhszv{
    background-color: white;
    
}
#bokorkep{
    background-color: lightgray;


}
#bok{
    padding-left: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#bokortarto{
    margin-top: 0px;
    padding-top: 0px;
}
#fh{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.keps{
    width: 255px;
    height: 260px;
    padding-top: 30px;
}
#csodszov{
    background-color: orange;
    
}
#csodtart{
    background-color: white;
    
}
#elsoo{
    width: 50%;
}
table{
    width: 100%;
    
}
.narancs{
    background-color: orange;
}
.feher{
    background-color: white;
}
.elso{
    width: 48%;
    
}
.masodik{
    width: 48%;
    
}
#talbazat{
    padding-top: 10px;
}
td > p{
    text-align: justify;
}
#ellenjavaslat{
    margin-top: 10px;
}
#el{
    background-color: orange;
}
#mass{
    background-color: white;
}
#informaciok{
    margin-top: 10px;
}
#narlink{
    color: orange;
}